.accordion__color
{
    background-color:#212529;
    color:white;
    border: none;
}
.link__color
{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.link__color:hover
{
    color: #212529;
    background-color:white;
}
.sidbar
{
    height: 700px;
}
.icons
{
    margin: 0 15px 0 0;
}
.dashboord__icon
{
    margin: 0 15px 0 0;
    font-size: 25px;

}
