body{margin: 0;}

.about-us-card{
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            padding: 50px;}

.about-us-container{
                flex-direction: column;
                width: 70%;
                background-color: rgb(218, 172, 116);
                box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
                padding: 30px;}

.about-us-title h1{font-size: 50px;}
.about-us-title span{font-size: 18px;}

.about-us-content{
                display: flex;}

.about-us-text{
            font-size: 18px;
            line-height: 1.5;
            margin: 10px 15px 15px 15px;}

.about-us-text-before::before{
                       content:'We';
                       font-size: 25px;
}

.about-us-image{margin-top: 10px;
                margin-left: 10px;}

.about-us-image img{width: 100%;}

.about-us-readmore{
                color:black;
                text-decoration: none;
                font-size: 16px;
                background-color:white;
                padding: 12px;
                opacity: 0.5;}

.about-us-readmore:hover{
                    background-color: black;
                     color:white;
                     opacity: 0.8;}

.about-us-icons{
               margin-top: 20px;
               font-size: 22px;
               letter-spacing:2px;}

