.max-width{
    max-width: 400px;
}
table{
    margin-top: 50px;
    margin-bottom: 50px !important;
}
@media(max-width:400px){
    .table thead{
    display: none;        
    }
    .table ,.table tbody , .table tr,.table td{
        display: block;
        width: 100%;
    }
}