body{margin: 0;}

.privacy-policy{margin-top: 40px;}

.privacy-policy-checkbox{margin-top: 20px;
                         margin-bottom: 40px;
                         font-size: 15px;}

.privacy-policy-text{font-size: 15px;
                    line-height: 1.7;}