/* Start Variables */
:root{
    --main-color:#ec1c23;
    --second-color:#0ca7aa;
    --thrd-color:#4c6373;
    --transition: .5s;
}
/* End Variables */


/* Start Nav Bar */
.navbar-nav .dropdown{
    position: relative;
}
.navbar-nav .search-icon{
    position: relative;
}
.navbar-nav .nav-item .btn{
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    margin: 0 10px;
    border-radius: 40px;
    color: white;
    padding: 5px 20px;
    
}
.navbar-nav .nav-item .signup-btn{
    color: var(--thrd-color);
    background-color: white;
    border: 1px solid var(--thrd-color);
}
.navbar-nav .nav-item .btn:hover ,
.navbar-nav .nav-item .signup-btn:hover{
    background-color: #09787a;
    border-color: #086f71;
    color: white;
}
.nav-item .dropdown-list{
    position: absolute;
    transform: scale(0);
    transition: all var(--transition) ease-in-out;
    padding: 10px;
    min-width: 200px;
}
.nav-item .dropdown-list li a{
    text-decoration: none;
    color: var(--thrd-color);
    transition: var(--transition);
    padding: 5px 0;
    display: inline-block;
}
.nav-item .dropdown-list li a:hover{
    margin-left: 10px;
    color: var(--second-color);
}
.nav-item .dropdown-list li:hover{
    background-color: unset;
}
.navbar-nav .dropdown:hover .dropdown-list
{
    transform: scale(1);
}
.navbar .d-flex{
    align-items: center !important;
}
.navbar-nav .nav-item .icon:hover{
    cursor: pointer;
    color: var(--main-color);
}
.navbar-nav .nav-item form .search-input{
    position: absolute;
    top: -45px;
    transform: translate(calc(-100% - 10px));
    width: 50%;
    border-radius: 40px;
    border: 1px solid var(--thrd-color);
    padding-left: 15px;
    outline: none;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown .dropdown-toggle{
    position: relative;
}
.dropdown .dropdown-toggle .icon{
    
    align-self: center !important;
}
.dropdown-menu{
    border: none;
    background-color: transparent;
}

/* End Nav Bar */

/* Mohamed Marei Dash Board */
.accordion__color
{
    background-color:#212529;
    color:white;
    border: none;
}
.link__color
{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.link__color:hover
{
    color: #212529;
    background-color:white;
}
.sidbar
{
    height: 700px;
}
.icons
{
    margin: 0 15px 0 0;
}
.dashboord__icon
{
    margin: 0 15px 0 0;
    font-size: 25px;

}
/* End Dashboard */